<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
<style>
body {
  /* background: blue; */
  background-image: linear-gradient(to left, white,lightblue);
  /* URL({{site.bg-img-url}}); */
  background-size: cover, contain;
  font-family: Verdana;
}
div {
 font-family: Roboto;
}
</style>
<link href= "style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href=
"http://fonts.googleapis.com/css?family=Tryst">
<link rel="stylesheet" type="text/css" href=
"http://fonts.googleapis.com/css?family=Euphoria Script">
<title>{{page.title}}</title>
</head>
<body>
<div class="content">
{{content}}
</div>
<hr>
<small><a href=https://gateway.ipfs.io/ipns/{{site.assetskey}}/img>images</a> courtesy <a href={{site.search}}=!g+Gradual+Quanta+assets>GQ</a></small>
</body>
</html>
